* {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff8dc;
    font-family: 'Port Lligat Slab', serif;
    text-align: center
}

a:link {
    font-family: 'Jost', sans-serif;
    color: #fafad2;
    text-decoration: none
}

a:visited {
    color: #fafad2
}

a:hover {
    color: #3498db;
}

a:active {
    color: #fc0000
}

.button {
    color: #260131;
    background-color: #03b2ff;
    border-radius: 200px;
    box-shadow: 0 0 3px 1px #fafad2;
    display: block;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase
}

.button:hover {
    background-color: #fafad2;
    color: #260131;
}

.button:active {
    box-shadow: none;
    top: 5px
}

button {
    color: #260131;
    background-color: #03b2ff;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px #fafad2;
    display: block;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase
}

button:hover {
    background-color: #fafad2;
    color: #260131;
}

form {
    border-radius: 10px;
    padding: 10px 10px;
}

.form-contents {
    padding: 10px 10px;
}

label

p {
    color: #fafad2;
    font-family: 'jost', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    padding-top: 10px
}

i {
    color: #fff8dc
}

hr {
    border-bottom: 3px solid #fff8dc
}

strong {
    color: #03b2ff;
    font-family: 'Jost', sans-serif;
    line-height: 1.6;
    text-align: center
}

em {
    color: #03b2ff;
    line-height: 1.6
}

video {
    max-width: 100%;
    height: auto
}

body {
    background-color: #260131;
    font-family: 'Jost', sans-serif;
    line-height: 1.6
}

small {
    color: #fff8dc;
    font-family: 'Jost', sans-serif;
    text-align: center
}

.card {
    background-color: #31163a;
    border-radius: 3px;
    box-shadow: 0 0 2px 3px #fafad2;
}

.card:hover {
    box-shadow: 0 0 10px 3px #fafad2;
}

#projects-gallery img {
    border-radius: 5px;
    box-shadow: 0 0 2px 3px #fafad2
}

.brand-logo {
    padding: 5px;
    width: 130px;
    height: 100px
}

figcaption {
    color: #fafad2;
    font-family: 'Jost', sans-serif;
    text-align: center
}

video {
    width: 100%;
    height: 100%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

nav {
    box-shadow: 0 0 10px 3px #fafad2
}

nav ul {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
    padding-right: 15px
}

nav ul li {
    padding-bottom: 30px;
    cursor: pointer
}

nav ul li a {
    font-size: x-large;
    text-decoration: none
}

#stories {
    color: #fafad2; 
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center
}

#activities {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}

#profile-picture-wrapper {
    text-align: center
}

.clip-circle {
    clip-path: circle(70px at center)
}

.responsive-img {
    width: 100%;
    max-width: 350px;
    height: auto
}

#social-links {
    display:inline;
    text-align: center;
    padding-top: 30px
}

#social-links ul {
    list-style-type: none;
}

#social-links ul li {
    display:inline;
    padding-left: 16px;
    padding-right: 16px
}

#social-links ul li a {
    color: #fff8dc;
    font-family: 'Jost', sans-serif;
    text-decoration: none
}

#breadcrum {
    display:inline;
    text-align: center;
    padding-top: 10px
}

#breadcrum ul {
    list-style-type: none
}

#breadcrum ul li {
    display:inline;
    padding-left: 16px;
    padding-right: 16px
}

#breadcrum ul li a {
    color: #fff8dc;
    font-size: large
}

#breadcrum ul li a:hover {
    color: #3498db
}

#map {
    width: 100%;
    height: 400px
}

#portfolio-page-access {
    border-radius: 5px;
    padding: 30px 5px 20px
}

#tutorials-page-access {
    border-radius: 5px;
    padding: 30px 5px 20px
}

#blog-page-access {
    border-radius: 5px;
    padding: 30px 5px 20px
}

#education-history {
    border-radius: 5px;
    padding: 30px 5px 20px
}

#education-history section {
    padding-top: 30px;
    padding-bottom: 15px
}

#projects-gallery {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    font-size: x-large;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}

#projects-gallery {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    font-size: x-large;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}

#projects-gallery figure {
    padding: 5px 10px;
}

#personal-portfolio-site-wrapper {
    text-align: center
}

#mtalii-site-wrapper {
    text-align: center
}

#sheng-jargon-app-wrapper {
    text-align: center
}

#mysite-wrapper {
    text-align: center;
}

.welcome-note {
    color: #fafad2;
    padding: 10px 7px;
    text-align: center
}

#the-pages {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}

#education-history {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}

#work-experience {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}

#software-tutorials a {
    color: #F40F02;
    font-size: x-large;
    text-decoration: none
}

#software-tutorials {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}

#project-tutorials {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}

#project-tutorials a {
    color: #F40F02;
    font-size: x-large;
    text-decoration: none
}

#web-dev-sources-tutorials {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}

#web-dev-sources-tutorials a {
    color: #F40F02;
    font-size: x-large;
    text-decoration: none
}

#personal-info {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}

.thank-you-note {
    color: #fafad2;
    padding: 5px 10px;
    text-align: center
}

#other-info {
    box-sizing: border-box;
    color: #fafad2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 5px 20px;
    text-align: center
}