body {
    background-color: #005895;
    font-family: Jost, sans-serif;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px)/ (2500 - 300)));
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #05395e;
    font-family: 'Port Lligat Slab', serif
}

p {
    color: #054877;
    font-family: jost, sans-serif;
    letter-spacing: .0625em;
    line-height: 1.6
}

a {
    color: #05395e;
    text-decoration: none
}

a:hover {
    color: #052e4b;
}

legend {
    color: #05395e
}

figcaption {
    color: #05395e !important
}

cite {
    color: #052c47
}

video {
    max-width: 100%;
    height: auto
}

i {
    color: #05395e
}

hr {
    border-bottom: 3px solid #05395e
}

strong {
    color: #05395e;
    font-family: Jost, sans-serif;
    line-height: 1.6
}

em {
    color: #072d49;
    line-height: 1.6
}

small {
    color: #052e4b;
    font-family: Jost, sans-serif
}

.breadcrumb-item a {
    color: #052e4b
}

.breadcrumb>.active {
    color: #3d2305
}

.card {
    background-color: #adcbf1
}

#map {
    width: 100%;
    height: 400px
}